.todo-input {
	width: 70vw;
	display: flex;
	align-items: center;
	margin-top: 3vmin;
	margin-bottom: 3vmin;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.input-task {
	flex: 1;
	height: 9vmin;
	outline: none;
	border: none;
	background: #282e33;
	border-top-left-radius: 1.3vmin;
	border-bottom-left-radius: 1.3vmin;
	padding-left: 1rem;
	color: #f2f5f7;
	font-size: 2.3vmin;
}

.input-button {
	width: 9vmin;
	height: 9vmin;
	background: #5050e6;
	outline: none;
	border: none;
	border-top-right-radius: 1.3vmin;
	border-bottom-right-radius: 1.3vmin;
	color: #f2f5f7;
	cursor: pointer;
	transition: 0.1s all ease-in-out;
	font-size: 2.3vmin;
}

.input-button:hover {
	background: #4343b4;
	font-size: 2vmin;
}
