.todo-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: #282e33;
	padding: 0.8rem;
	border-radius: 0.8rem;
	margin-top: 2vmin;
}

.todo-item-date {
	opacity: 0.4;
	font-size: 0.8rem;
}

.todo-item-body {
	margin-top: 0.6rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.todo-activity {
	flex: 1;
	background: none;
	border: none;
	outline: none;
	font-family: manrope;
	font-size: 1rem;
	color: #f2f5f7;
	word-break: break-all;
	padding: 1rem 0;
}

.todo-action {
	display: flex;
	align-self: flex-end;
}

.todo-button {
	font-size: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	border-radius: 0.8rem;
	background: none;
	transition: 0.1s all ease-in-out;
	margin: 0 0.2rem;
}

.todo-button:hover {
	transform: scale(0.9);
}

.todo-done {
	opacity: 0.5;
}

.todo-done .todo-activity {
	text-decoration: line-through;
}

#checkButton {
	background: #5050e6;
}

#editButton {
	background: #e6d750;
}
#deleteButton {
	background: #e65050;
}
